@font-face {
    font-display: swap;
    font-family: Apax-TAG-Heuer;
    font-style: normal;
    font-weight: 400;
    src: url(./Apax-TAG-Heuer-Regular.otf) format("opentype"), url(../fonts/ttf/Apax-TAG-Heuer-Regular.ttf) format("truetype"), url(../fonts/woff/Apax-TAG-Heuer-Regular.woff) format("woff"), url(../fonts/woff2/Apax-TAG-Heuer-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Apax-TAG-Heuer-Woff2;
    font-style: normal;
    font-weight: 400;
    src: url(./Apax-TAG-Heuer-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Apax-TAG-Heuer;
    font-style: normal;
    font-weight: 700;
    src: url(./Apax-TAG-Heuer-Bold.otf) format("opentype"), url(../fonts/ttf/Apax-TAG-Heuer-Bold.ttf) format("truetype"), url(../fonts/woff/Apax-TAG-Heuer-Bold.woff) format("woff"), url(../fonts/woff2/Apax-TAG-Heuer-Bold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Apax-TAG-Heuer;
    font-style: italic;
    font-weight: 400;
    src: url(./Apax-TAG-Heuer-Italic.otf) format("opentype"), url(../fonts/ttf/Apax-TAG-Heuer-Italic.ttf) format("truetype"), url(../fonts/woff/Apax-TAG-Heuer-Italic.woff) format("woff"), url(../fonts/woff2/Apax-TAG-Heuer-Italic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Apax-TAG-Heuer;
    font-style: normal;
    font-weight: 300;
    src: url(./Apax-TAG-Heuer-Light.otf) format("opentype"), url(../fonts/ttf/Apax-TAG-Heuer-Light.ttf) format("truetype"), url(../fonts/woff/Apax-TAG-Heuer-Light.woff) format("woff"), url(../fonts/woff2/Apax-TAG-Heuer-Light.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Apax-TAG-Heuer;
    font-style: italic;
    font-weight: 300;
    src: url(./Apax-TAG-Heuer-Light-Italic.otf) format("opentype"), url(../fonts/ttf/Apax-TAG-Heuer-Light-Italic.ttf) format("truetype"), url(../fonts/woff/Apax-TAG-Heuer-Light-Italic.woff) format("woff"), url(../fonts/woff2/Apax-TAG-Heuer-Light-Italic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Apax-TAG-Heuer;
    font-style: normal;
    font-weight: 500;
    src: url(./Apax-TAG-Heuer-Medium.otf) format("opentype"), url(../fonts/ttf/Apax-TAG-Heuer-Medium.ttf) format("truetype"), url(../fonts/woff/Apax-TAG-Heuer-Medium.woff) format("woff"), url(../fonts/woff2/Apax-TAG-Heuer-Medium.woff2) format("woff2")
}

@font-face {
    font-family: swiper-icons;
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA")
}

@font-face {
    font-family: fonticon;
    src: url(./fonticon.woff2) format("embedded-opentype"), url(../fonts/fonticon.woff2?2ac6ec094c071769d69e987714dd9489) format("woff2"), url(../fonts/fonticon.woff?2ac6ec094c071769d69e987714dd9489) format("woff"), url(../fonts/fonticon.ttf?2ac6ec094c071769d69e987714dd9489) format("truetype"), url(../fonts/fonticon.svg?2ac6ec094c071769d69e987714dd9489#fonticon) format("svg")
}