html {
    height: 100vh;
}

body {
    height: 500vh;
    /* background: #000; */
    transition: background 0.3s;
}

body.white {
    background: #fff;
}

body.org {
    background: #f0661b;
}

body.black {
    background: #000;
}

body.grey {
    background: #d7d7d7;
}

body.dark {
    background: #141414;
}

canvas {
    object-fit: cover;
}

#wrapper {
    border-top: 122px solid #000
}

#main {
    position: relative;
    z-index: 1;
}

.banner-group {
    display: flex;
    justify-content: space-between;
    padding: .7rem 207px;
    border-bottom: .1rem solid #404040;
    background: #000;
    z-index: 3;
    transition: all 0.3s;
    position: fixed;
    top: 122px;
    left: 0;
    right: 0;
}

.banner-group:before {
    background-color: #000;
    content: "";
    display: block;
    height: 122px;
    left: 0;
    position: absolute;
    right: 0;
    top: -122px;
}

.banner-group.top {
    position: fixed;
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    /* transition-delay: 0.2s; */
}

.banner-group .banner-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #fff;
}

.banner-group .banner-link img {
    width: 4.2rem;
    height: 4.2rem;
}

.banner-group .btn-area {
    display: flex;
    gap: 1rem
}

.banner-group .btn-area .btn-border {
    flex: 1;
    border: 1px solid grey;
    padding: 1.6rem 3rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    width: 22.6rem;
    text-align: center;
    color: #fff;
}

.banner-group .btn-area .btn-border.bg-red {
    background: #c90101;
}

.banner-group .btn-area .btn-border:hover {
    background: #fff;
    color: #000;
}

section .inner {
    margin: 0 207px;
}

section .d-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

section .d-rv-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}


.sc-features .contents-group {
    width: 40%;
}

.sc-features .contents-group .list {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 75px;
    max-width: 410px;
}

.sc-features .contents-group .list li {
    display: flex;
    gap: 14px;

}

.sc-features .contents-group .img-item {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    overflow: hidden;
}

.sc-features .contents-group .img-item img {
    width: 100%;
    object-fit: cover;
}

.sc-features .contents-group .text-item {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    flex: 1;
}

.sc-features .contents-group .text-item .top {
    color: #000
}

.sc-features .contents-group .text-item .desc {
    color: #404040;
}

.sc-features.ft03 .contents-group .text-item .top {
    color: #fff
}

.sc-features.ft03 .contents-group .text-item .desc {
    color: #b3b3b3;
}

section .btn-arrow {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;

}

section .btn-arrow .icon {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

}

section .btn-arrow .icon span {
    height: 9px;
    width: auto;
}

section .btn-arrow:hover .icon span {
    transition: transform .8s cubic-bezier(.77, 0, .175, 1) 0s, opacity .8s cubic-bezier(.77, 0, .175, 1) 0s;
}

section .btn-arrow .icon .hidden {
    opacity: 0;
    transform: translateX(-10px);
}

section .btn-arrow:hover .hidden {
    transform: translateX(0px);
    opacity: 1;
}

section .btn-arrow .icon .visible {
    position: absolute;
    left: 0;
    top: 0;
}

section .btn-arrow:hover .visible {
    transform: translateX(10px);
    opacity: 0;
}

section .btn-arrow .btn-text {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

section a svg {
    height: 100%;
}

section .img-group {
    width: 50%;
}

section:not(.sc-features) .title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


section h2.title {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .1rem;
}

section:not(.sc-features) p.sub-title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 0;
    text-align: center;
    overflow: hidden;
}

[data-txt="scale"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 135px;
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding: 315px 0 135px 0;
    overflow: hidden;
    line-height: 0.85
}

[data-txt="scale"] .first {
    /* transition: all 0.2s; */

}

[data-txt="scale"] span {
    /* transition: all 1s; */
}

[data-trf="up"] {
    opacity: 0;
}

.sc-design.black {
    background: #000;
}

.sc-design .title-wrap {
    margin-bottom: 25rem;
    max-width: 1395px;
    margin-left: auto;
    margin-right: auto;
    color: #fff
}

.sc-features {
    padding: 200px 0;
    /* background: #d7d7d7; */
}

.sc-features p.sub-title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 0;
}

.sc-features .title-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    gap: 20px;
}

.sc-features.ft01 {
    background: #d7d7d7;
}

.sc-features.ft02 {
    background: #fff;
}

.sc-features.ft03 {
    background: #000;
    color: #fff
}

.sc-features.ft04 {
    background: #d7d7d7;
}

.sc-charger {
    position: relative;
    height: 250vh;
    color: #fff
}

.sc-sport {
    position: relative;
    height: 270vh;
    color: #fff;
    background: #000;
}

.sc-active {
    background: #000;
}

.sc-active h2 {
    color: #fff
}


[data-theme="white"] .title-wrap {
    color: #000
}

.sc-intro {
    position: relative;
    color: #fff;
    background: #000;
    text-align: center;
    padding-top: 160px;
}

.sc-intro::after {
    background: linear-gradient(0deg, #000 10%, transparent);
    content: "";
    display: block;
    height: 40vh;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 230px;
    z-index: 1;
}

section.sc-intro .title-wrap {
    padding-bottom: 745px;
}

section.sc-intro .main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    line-height: 1;
    font-size: 135px;
    color: #fff
}

section.sc-intro .main-title span {
    line-height: 0.8;
}

.sc-intro .watch-wrap {
    position: absolute;
    left: 50%;
    z-index: 1;
    top: 400px;
    transform: translateX(-50%);
    bottom: 0
}

.sc-intro .watch-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* gap: 240px; */
    width: 1120px;
}

/* .sc-intro .watch-group .wh-left {
    width: 450px;
} */



.sc-intro .watch-group .item {
    position: absolute;
    top: 0;
}

.sc-intro .watch-group .item.left {
    left: 0;
}

.sc-intro .watch-group .item.right {
    top: 100px;
    right: 0;
}

.sc-intro .watch-group .wh-right {
    width: 396px;
}

.sc-intro .watch-group .item img:not(:first-child) {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.sc-intro .watch-group .item img:not(.on) {
    opacity: 0;
    visibility: hidden;
}

.sc-intro .watch-group .item img.on {
    opacity: 1;
    visibility: visible;
}

.sc-intro .bg-img {
    position: absolute;
    top: 70px;
    width: 40%;
    opacity: 0;
}

.sc-intro .bg-img.bg-left {
    left: 0;
}

.sc-intro .bg-img.bg-right {
    right: 0;
}

.sc-intro .btn-play {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    color: #fff;
    width: 213px;
    height: 54px;
    overflow: hidden;
    transition: color .5s cubic-bezier(1, 0, 0, 1);
    text-transform: uppercase;
    margin-top: 40px;
    z-index: 2;
}

.sc-intro .btn-play:hover span {
    color: #000;
    z-index: 1;
}

.sc-intro .btn-play:hover .ico-play {
    border-right: 1px solid #000;
}

.sc-intro .btn-play:hover .ico-play svg {
    fill: #000;
}

.sc-intro .btn-play:hover::before {
    transform: translateX(0%);
}

.sc-intro .btn-play:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    background: #fff;
    transform: translateX(-100%);
    height: 54px;
    transition: transform .5s cubic-bezier(1, 0, 0, 1)
}

.sc-intro .btn-play .ico-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #fff;
    transition: border .5s cubic-bezier(1, 0, 0, 1);
}

.sc-intro .btn-play .ico-play svg {
    width: 6px;
    height: 6px;
    fill: #fff;
    transition: .5s cubic-bezier(1, 0, 0, 1)
}

.sc-intro .btn-play .txt-play {
    display: block;
    text-align: center;
    width: 100%;
    z-index: 1;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    transition: color .5s cubic-bezier(1, 0, 0, 1)
}

.canvas-wrap {
    position: relative;
    height: 100%;
}

.canvas-wrap img:not(:first-child) {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.canvas-wrap img.on {
    opacity: 1;
    visibility: visible;
}

.canvas-wrap img:not(.on) {
    opacity: 0;
    visibility: hidden;
}

.ani {
    position: relative;
    /* height: 400vh; */
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1;
}

/*
.ani .sticky {

} */
.sc-tech {
    position: relative;
    height: 300vh;
    ;
}

.sc-tech .title-wrap {
    padding: 11vw 0;
}

.sc-tech .info-text {
    position: relative;
}

.sc-tech .info-text .canvas-wrap {
    height: 100vh;
}

.sc-tech .info-text .text-cont {
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    width: 40%;
    left: 200px;
    /* overflow: hidden; */
    opacity: 0;
}

.sc-tech .info-text .text-cont .desc-wrap {
    position: relative;
    height: 150px;
    /* overflow: hidden; */
}

.sc-tech .info-text .text-cont .desc-wrap p:not(.item01) {
    transform: translateY(20%);
    opacity: 0;
    visibility: hidden;
}


.sc-tech .info-text .text-cont h3 {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-bottom: 20px;
}

.sc-tech .info-text .text-cont p {
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    top: 0;
    height: 100%;
    text-transform: uppercase;
}

.sc-custom {
    position: relative;
    height: 300vh;
}

.sc-wellness {
    position: relative;
    height: 300vh;
}

.sc-wellness .sticky {
    margin-top: -50vh;
}

.sc-wellness h2 {
    position: relative;
    z-index: 2;
    color: #fff;
}

.sc-product {
    padding: 50px 0 80px;
    background: #fff;
}

.sc-product .item-list-name {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc-product .item-list-name a {
    display: flex;
    gap: 4px;
    text-transform: uppercase;

}

.sc-product .item-list-name a.on .ico {
    opacity: 1;
}

.sc-product .item-list-name a .ico {
    width: 12px;
    opacity: 0;
    transition: all 0.3s;
}

.sc-product .item-list {
    margin-top: 70px;
    display: none;
}

.sc-product .item-list.show {
    display: block;
}

.sc-product .item-list ul {
    display: flex;
    gap: 30px;
    margin: 0 200px;
}

.sc-product .item-list li {
    display: flex;
    flex-direction: column;
    background: #fafafa;
    flex: 1;
}

.sc-product .item-list li a.img-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin: 20px 0;
}



.sc-product .item-list li a .before {
    transition: all 0.5s;

}

.sc-product .item-list li a:hover .before {
    transform: scale(0.8);
    opacity: 0;
}

.sc-product .item-list li a .after {
    transform: scale(1.2);
    transition: all 0.5s;
    opacity: 0;
}

.sc-product .item-list li a:hover .after {
    transform: scale(1);
    opacity: 1;
}

.sc-product .item-list li a.img-link .img-hover {
    position: absolute;
    top: 0;
}

.sc-product .item-list li a.img-link .img-hover img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    text-align: center;

}

.sc-product .item-list li a.txt-link {
    text-align: center;
    padding-bottom: 23px;
}

.sc-product .item-list li a.txt-link p:first-child {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px
}

.sc-product .item-list li a.txt-link p:last-child {
    color: #707070
}

.sc-app {
    padding: 100px 0;
    background: #f8f8f8;
}

.sc-app .title-wrap {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 300px; */
}

.sc-app .title-wrap .app {
    width: 64px;
    height: 64px;
}

.sc-app .title-wrap .sub-title {
    width: 762px;
    margin: 0 auto;
}

.sc-app .title-wrap .store {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sc-app .title-wrap .store li {
    display: block;
    height: 50px;
    width: auto;
}

.sc-app .title-wrap .store li a {}

.sc-app .title-wrap .store li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc-app .title-wrap .desc {
    text-align: center;
}

.sc-course {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 829px;
    overflow: hidden;
}

.sc-course:before {
    background: rgb(0 0 0 / 29%);
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
}

.sc-course .contents-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 50%;
    color: #fff;
}

.sc-course .contents-wrap svg {
    fill: #fff
}

.sc-course .title-wrap {

    position: relative;
    margin: 0 auto;
}

.sc-course .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.sc-course .bg-img img {
    width: 100%;
    height: 100%;
}

.sc-discover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 670px;
    overflow: hidden;
}

/* .sc-discover:before {
    background: rgb(0 0 0 / 29%);
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
} */

.sc-discover .ds-list {
    display: flex;
    position: relative;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sc-discover .ds-list:after {
    /* background: #000; */
    background: linear-gradient(0deg, rgb(0 0 0 / 70%) 50%, transparent);
    bottom: 0;
    content: "";
    display: block;
    height: 70%;
    right: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
}

.sc-discover .contents-wrap {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 70%;
    color: #fff;
    margin-top: 200px;
}

.sc-discover .contents-wrap svg {
    fill: #fff
}

.sc-discover .title-wrap {

    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
}

.sc-discover .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.sc-discover .bg-img img {
    width: 100%;
    height: 100%;
}

.sc-notice {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    gap: 20px;
    width: 77vw;
    margin: 0 auto;
}

.sc-notice p {
    margin: 0 117px;
    text-align: center;
    font-size: 12px;
    color: #404040
}