* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    --color-title: #fff;
    --bg-color: #000
}

:root[data-theme="white"] {
    --color-title: #000;
    --bg-color: #fff
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none
}

ul {
    list-style: none
}

fieldset {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    font-family: 'Apax-TAG-Heuer', Arial, sans-serif;
    font-size: 10px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

body {
    /* background-color: #fff; */
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

*:focus {
    box-shadow: none !important;
    outline: .1rem dashed rgb(0 0 0 / 65%) !important;
    outline-offset: .4rem !important;
}